*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
}

header{
    height: 10%;
    background-color: aqua;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 30px;
}

body{
    height: 100vh;
}
main{
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sidebar{
    background-color: bisque;
    padding: 30px;
}

#contents{
    background-color: rgb(207, 189, 164);
}

footer{
    background-color: aqua;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 1.5rem;
    font-weight: bolder;
}

#addProject{
    width: 200px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid black;
}

#addProject:hover{
    background-color: aliceblue;
}

main form{
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.add-cancel{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.add-cancel button{
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

form input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.add-cancel button:hover{
    background-color: aliceblue;
}

.hide{
    display: none;
}